

body {
background: #2980b9;
display:flex;
justify-content: center;
align-items: center;
}

#clock-whole {
margin: 150px auto;
width:500px;
height:500px;
border:5px solid white;
border-radius: 50%;
background-color: #5c5c5c;
margin-top: 250px;
}

#clock-outline {
position:relative;
width:100%;
height:100%;

}

.hand {
position:absolute;
width:50%;
height:6px;
top:50%;
background: black;
transform-origin: 100%;
transition: all 0.5s;

}

.playing{
transition: all  0s;

}

#seconds {
background: red;

}

#hours {
width:175px;
left:15%;


}

#minutes {

}

.svg-sun {
width:300px;
height:300px;
animation: spin 25s linear infinite;
position:absolute;
top:-50px;
right:250px;


}

@keyframes spin {
  100% {
    transform: rotate(360deg);jkjkj
  }
}

.svg-sun{
width:300px;
height:300px;
animation: spin 50s  infinite, sun-glow 1s  infinite;
z-index: -2
}


#sun{
stroke-width:10;
stroke-dasharray:1.5;

}

.num {
position:absolute;
color:white;
font-size:30px;
}

#num1 {
top:7%;
right:25%;
}

#num2 {
top:24%;
right:8%;
}

#num3 {
top:47%;
right:2%;
}

#num4 {
top:70%;
right:8%;
}

#num5 {
top:87%;
right:25%;
}

#num6 {
top:93%;
right:48.5%;
}

#num7 {
top:87%;
left:25%;
}

#num8 {
top:70%;
left:8%;
}

#num9 {
top:47%;
left:2%;
}

#num10 {
top:24%;
left:8%;
}

#num11 {
top:7%;
left:25%;
}

#num12 {
right:47%;
}

#current-date {
text-align: center;
color:white;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
}


.clouds-container {

}

.clouds {
background: #fff;
position:absolute;
border-radius: 50px;
top:50px;
height:50px;
width:150px;
z-index: -1
}

.clouds::before {
content:"";
position:absolute;
top:-20px;
left:40px;
height:50px;
width:40px;
background: #fff;
border-radius: 20px;
}

.clouds::after {
content:"";
position:absolute;
top:-35px;
left:70px;
height:70px;
width:55px;
background: #fff;
border-radius: 30px;
}

#c1 {
top:100px;
transform:scale(0.5);
animation: cloud-animate 25s linear infinite;
}

#c2 {
transform:scale(1);
animation: cloud-animate 35s linear infinite;
}

#c3 {
top:160px;
transform:scale(0.8);
animation: cloud-animate 55s linear infinite;
}


@keyframes cloud-animate {
0% {margin-left: -100%}
100% {margin-left: 5%}
}

@keyframes sun-glow {
0% {stroke:#f1c40f;}
100% {stroke:#f1c40f;}
}


}
@keyframes spin{
	100% {
		transform: rotate(360deg);
	}
}
